@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: linear-gradient(90deg, #0F0F0F 0%, #242424 100%)
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--body-bg);
}

.condensed {font-family: var(--font-roboto-condensed);}